.CreateApartment form {
    text-align: center;
    border: 1px solid #666;
    background-color: #e51e531c;
    margin: 2rem 2rem 4rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0rem #aaa;
}

.CreateApartment form label {
    display: block;
    margin: 1rem;
}

.CreateApartment form input {
    display: block;
    margin: 0 auto;
}